@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* banner section starts here */
body{
    font-family: "Open Sans", sans-serif;
}
.banner-container{
    width: 1200px;
    height: 500px;
   
    margin: 0 auto;
    background-image: url("./assets/Hero-bg.png");
}

.banner-content{
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
    
}

.banner-title{
    color: rgb(13, 19, 33);
      font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.banner-description{
    color: rgb(13, 19, 33);
  font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: 400;

letter-spacing: 0%;
text-align: center;
}

.banner-content .btn{
    margin-top: 30px;
color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 400;

letter-spacing: 0%;
text-align: center;

border-radius: 8px;

background: rgb(13, 19, 33);
padding: 10px 20px;

}

.banner-content .btn a{
    text-decoration: none;
}

/* banner section ends here */


/* Reason section starts here */
 .banner-container {
    width: 1200px;
 }

 .reason-content-1,  .reason-content-2, .reason-content-3{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
 }
 .reason-content{
    margin-top: 120px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
 }

 .reason-content .reason-title{
    text-align: center;
    margin-bottom: 50px;
   
 }

 .content-1-leftside{
    width: 60%;
    margin-right: 30px;
 }
 .content-3-leftside{
    width: 60%;
    margin-right: 30px;
 }
 .content-2-leftside{
    width: 40%;
    margin-right: 30px;
 }

 .content-1-leftside  .title, .content-2-rightside .title, .content-3-leftside  .title{
    color: rgba(13, 19, 33, 0.7);
  font-family: "Open Sans", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
 }

 .content-1-leftside .description , .content-2-rightside .description,.content-3-leftside .description{
    color: rgb(13, 19, 33);
  font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: 400;

text-align: left;
 }

 .content-1-leftside .btn, .content-2-rightside .btn, .content-3-leftside .btn{
    padding: 5px 10px;
 }
/* Reason section ends here */

/* inspiration section starts here */
.insporation-section{
    width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.insporation-section .inspiration-text{
  margin: 80px;
  margin-bottom: 80px;
}

.insporation-section .inspiration-text h1{
    color: rgb(13, 19, 33);
  font-family: "Open Sans", sans-serif;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
  font-family: "Open Sans", sans-serif;
font-size: 13px;
font-weight: 400;

}


/* inspiration section ends here */



/* :current target section starts here */
.current-target-section{
    width: 1000px;
    background-color: white;
 
    margin: 0 auto;
   
    margin-top: 50px;
}

.current-target-card{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    gap: 30px;
}
.current-target-section .current-target-text{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}
.html-card {
  
  border-radius: 16px;
  padding: 20px;
  background: rgba(255, 76, 30, 0.05);
}

.css-card{
    border-radius: 16px;
    padding: 20px;
    background: rgba(0, 76, 232, 0.05);
}

.js-card{
    border-radius: 16px;
    padding: 20px;
    background: rgba(255, 223, 0, 0.05);
}
/* :current target section ends here */


/* next target starts here */
.next-target-container{
box-sizing: border-box;

width: 1200px;
height: 800px;

background: rgba(13, 19, 33, 0.02);
margin: 0 auto;
margin-top: 80px;
}

.next-target-text{
    width: 400px;
 margin: 0 auto;
 text-align: center;
 background-color: white;
 margin-bottom: 30px;
}

.next-target-text h1{
  opacity: 0.7;
}

.next-target-node-js{
    margin: 0 auto;
    width: 700px;
    display: flex;
    gap: 50px;
    background-color: white;
    margin-bottom: 30px;
}
.next-target-react-js{
    margin-bottom: 10px;
    margin: 0 auto;
    width: 700px;
    display: flex;
    gap: 50px;
    background-color: white;
    margin-bottom: 30px;
}
.next-target-mongoDB{
    margin: 0 auto;
    width: 700px;
    display: flex;
    gap: 50px;
    background-color: white;
    margin-bottom: 30px;
}

.next-target-node-js>p,.next-target-react-js>p,.next-target-mongoDB>p{
    width: 10%;
}

.next-target-node-js>p img{
     width: 90px;
    text-align: center;
}
/* next target ends here */

/* support section starts here */
.support-section{
    width: 800px;
    height: 230px;
    border: 2px solid green;
    margin: 50px auto;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.6), rgba(0, 0, 0, 0.6)),
              url('./assets/handshake.jpg');
              background-size: 800px 230px;
              background-repeat: no-repeat;
              background-position: center;
   object-fit: contain;
}

.support-section .support-container{
  width: 50%;
  margin: auto auto;
 
  height:100%;
   border-radius: 16px;

 
}

.support-text h1{
   
font-family:  "Open Sans", sans-serif;
font-size: 32px;
font-weight: 700;
color: white;
text-align: center;
}

.support-text p{
    font-family:  "Open Sans", sans-serif;
    color: rgb(255, 255, 255);

font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.support-input input
{
    text-align: center;
    padding: 15px 25px 15px 20px;
    border-radius: 10px;
}

button{
    padding: 15px 20px;
    border-radius: 5px;
}
